vault:
  server: 'https://localhost:8200'
  verify: False
tokens:
  apps: s.co7OhJei8Ahniushu5pezeet
  vaultbot: s.Ea0yah2ej4eathiMaethaphu
  boundary: s.ke0KiphiuZ3die4shai4axei
  prometheus: s.oJee9Eech6Yaeghee6Aequoa
tls:
  google: www.google.com
  duckduckgo: duckduckgo.com
